<h1>New Meeting</h1>

<%= form_for([@request, @meeting]) do |f| %>
  <div class="form-group">
    <%= f.label :scheduled_at %>
    <%= f.datetime_local_field :scheduled_at %>
  </div>
  <div class="form-group mt-3">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
