<h1>Requests (<%= @requests.count %>)</h1>

<% if current_user.account.assigned_today? %>
  <%= render "list" %>
<% else %>
  <p>Good day, <%= current_user.account.name_with_title %>.  Please see your schedule below.</p>
  <ul>
    <% current_user.account.officers.each do |officer| %>
      <li><%= "#{officer.weekday} #{officer.am_pm}" %></li>
    <% end %>
  </ul>
<% end %>
