<h1>Close Requests</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Client Name</th>
      <th scope="col">Nature</th>
      <th scope="col">Attended Meetings</th>
      <th scope="col">Cancelled Meetings</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= link_to request.client.name, request.client %></td>
        <td><%= request.nature %></td>
        <td class="centered"><%= attended_count(request.meetings.attended.count) %></td>
        <td class="centered"><%= cancelled_count(request.meetings.cancelled.count) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
